@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");

:root {
  --back_color: rgb(39, 39, 39);
  --back_dark_color: rgb(27, 27, 27);
}

* {
  background-color: var(--back_color);
  color: white;
  font-family: "Kanit", sans-serif;
}

.wrapper {
  border-radius: 15px;
  box-shadow: 0px 0px 35px rgba(73, 88, 32, 0.5);
  background-color: var(--back_dark_color);
}

.list-head  *, .list-head2 *{
    background: transparent;
}

.list-head ion-icon, .list-head2 ion-icon{
    font-size: 1.4em;
}

.task-input input{
    width: 70%;
    background: var(--back_dark_color);
    border: 0;
    outline: 0;
    border-radius: 5px;
}