@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;1,100;1,300&display=swap");

:root {
  --accent-color: rgb(255, 102, 0);
}

* {
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  height: 70vh;
  width: 80%;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgba(138, 138, 138, 0.5);
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  transition: ease .4s all;
}

.wrapper:hover{
    border: 1px solid var(--accent-color);
    transition: ease .4s all;
}

a.forgot:hover{
    color: var(--accent-color);
    transition: ease .4s all;
}

